@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Montserrat-Regular';
  }
}

@layer utilities {
  /* Montserrat font weight utilities */
  .font-thin {
    font-family: 'Montserrat-Thin';
  }
  .font-extralight {
    font-family: 'Montserrat-ExtraLight';
  }
  .font-light {
    font-family: 'Montserrat-Light';
  }
  .font-normal {
    font-family: 'Montserrat-Regular';
  }
  .font-medium {
    font-family: 'Montserrat-Medium';
  }
  .font-semibold {
    font-family: 'Montserrat-SemiBold';
  }
  .font-bold {
    font-family: 'Montserrat-Bold';
  }
  .font-extrabold {
    font-family: 'Montserrat-ExtraBold';
  }
  .font-black {
    font-family: 'Montserrat-Black';
  }

  /* Montserrat italic utilities */
  .italic {
    font-family: 'Montserrat-Italic';
  }
  .font-thin.italic {
    font-family: 'Montserrat-ThinItalic';
  }
  .font-extralight.italic {
    font-family: 'Montserrat-ExtraLightItalic';
  }
  .font-light.italic {
    font-family: 'Montserrat-LightItalic';
  }
  .font-normal.italic {
    font-family: 'Montserrat-Italic';
  }
  .font-medium.italic {
    font-family: 'Montserrat-MediumItalic';
  }
  .font-semibold.italic {
    font-family: 'Montserrat-SemiBoldItalic';
  }
  .font-bold.italic {
    font-family: 'Montserrat-BoldItalic';
  }
  .font-extrabold.italic {
    font-family: 'Montserrat-ExtraBoldItalic';
  }
  .font-black.italic {
    font-family: 'Montserrat-BlackItalic';
  }
}

@layer components {

  .container {
    @apply flex-1 my-20 items-center w-full;
  }

  .button {
    @apply w-96 bg-primary-300 p-5 rounded-3xl items-center justify-center;
  }

  .button-text {
    @apply text-white font-semibold text-center
  }

  .title {
    @apply text-center text-2xl font-semibold text-primary-300;
  }

  .desc {
    @apply leading-7 text-slate-400 font-montserrat
  }

  .carousel-title {
    @apply text-center text-xl font-semibold text-primary-300
  }

  .carousel-desc {
    @apply text-center leading-7 text-slate-500/50 w-72 font-montserrat font-medium
  }

  .carousel-img {
    @apply w-72 h-72 my-24
  }

  .paginator {
    @apply h-3 w-3 bg-slate-300 rounded-full
  }

  .separator {
    @apply bg-slate-300/60 w-80 h-px
  }
}